{% extends "layout.html" %}
{% block content %}

<div class="pt-3 pb-3 d-flex flex-column justify-content-center">
    <h2 class="text-center">Pourquoi faire une recherche?</h2>
    <p class="text-center">
        Cet outil de recherche vous offre
        un moyen facile de vous faire économiser vos derniers sous.</br>
        Découvrez les restaurants de votre quartier qui 
        cesseront de vous mettre l'eau à la bouche!
    </p>
    <small class="text-center">
        <u>Note de l'administrateur:</u> Nous manquons attrocement de main d'oeuvre...</br>
        Si vous voyez des fautes de français,
        aidez-nous en soumettant une modification pour que nous puissions les corriger...
    </small>
</div>
<div class="pt-3 pb-3">
    <h2>Recherche rapide</h2>
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="pt-3 pb-3">
                <h3>Par établissements</h3>
                <div class="subtitle-underline"></div>
                <div class="form-group">
                    <label for="etablissement">
                        Obtenir la liste de tous les établissements</br>
                        Proposez une correction si le coeur vous en dit!
                    </label>
                </div>
                <button id="recherche-rapide-date" class="btn btn-primary">
                    Rechercher
                </button>
            </div>
        </div>
        <div class="col-md-6">
            <div class="pt-3 pb-3">
                <h3>Par nom d'établissement</h3>
                <div class="subtitle-underline"></div>
                <div class="form-group">
                    <label for="etablissement">Établissements</label>
                    <input id="etablissement" class="form-control" name="etablissement">
                </div>
                <button id="recherche-rapide-etablissement"
                class="btn btn-primary">Rechercher</button> 
            </div>
        </div>
    </div>
</div>
<hr>
<div class="pt-3 pb-3">
    <div>
        <h2>Résultats de la recherche</h2>
        <div id="resultat-recherche">
            <p>Aucun résultat...</p>
        </div>
    </div>
</div>
{% endblock %}